<span class="badge @cls">@(Name??"??")</span>

@code {
    [Parameter]
    public string? Name { get; set; } = null;

    private string cls = "";

    protected override void OnParametersSet()
    {
        cls = string.IsNullOrWhiteSpace(Name) || Name == Category.Uncategorized.Name? "text-dark bg-light" : "text-light bg-secondary";
    }
}