@if (GroupedTransactions is null)
{
    <span>no data.</span>
}
else {
   <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th># Transactions</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in GroupedTransactions)
            {
                <tr>
                    <td><CategorySpan Name="@group.Key" /></td>
                    <td>@group.Count()</td>
                    <td>@group.Sum(t => t.Amount)</td> 
                </tr>
            }
        </tbody>
    </table>
    @foreach (var group in GroupedTransactions)
    {
        var transactions = group.ToArray();
        <h3><CategorySpan Name=@group.Key /></h3>
        <TransactionTable Transactions="@transactions"></TransactionTable>
    }
}

@code {
    [Parameter]
    public Lookup<string, Transaction>? GroupedTransactions { get; set; } = null;
}