@if (GroupedTransactions is null)
{
    <span>no data.</span>
}
else {
    <Accordion>
    @foreach (var group in GroupedTransactions)
    {
        var transactions = group.ToArray();
        <AccordionItem>
            <TitleTemplate>
                <CategorySpan Name=@group.Key />
                &nbsp; 
                &nbsp;<span class="badge bg-info rounded-pill">@transactions.Count()</span>
                &nbsp;@transactions.Sum(t => t.Amount)
            </TitleTemplate>
            <Content>
                <div class="accordion-body">
                    <TransactionTable Transactions="@transactions" />
                </div>
            </Content>
        </AccordionItem>
    }
    </Accordion>
}

@code {
    [Parameter]
    public Lookup<string, Transaction>? GroupedTransactions { get; set; } = null;
}