@inherits LayoutComponentBase
<div class="bb-page">
    <Sidebar @ref="sidebar"
             IconName="IconName.CashCoin"
             Title="Hanz Finans"
             DataProvider="SidebarDataProvider" />
    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        </div>
        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>
@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;
    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();
        return await Task.FromResult(request.ApplyTo(navItems));
    }
    private IEnumerable<NavItem> GetNavItems()
    {
        const string Data = "Data";
        const string ProfitLoss = "ProfitAndLoss";
        const string Trends = "Trends";
        const string RulesAndCategories = "RulesAndCategories";
        const string Experimental = "Experimental";
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = Data, Href = "/import", IconName = IconName.DatabaseCheck, Text = "Data"},
            new NavItem { Id = "2", ParentId = Data, Href = "/alltransactions", IconName = IconName.ListColumns, Text = "All Transactions"},
            new NavItem { Id = "Import", ParentId = Data, Href = "/import", IconName = IconName.FileEarmarkPlus, Text = "Import"},
            new NavItem { Id = ProfitLoss, Href = "/month", IconName = IconName.PieChart, Text = "P&L"},
            new NavItem { Id = "31", ParentId = ProfitLoss, Href = "/month", IconName = IconName.CalendarMonth, Text = "Monthly View"},
            new NavItem { Id = "32", ParentId = ProfitLoss, Href = "/quarter", IconName = IconName.CalendarRange, Text = "Quarterly View"},
            new NavItem { Id = "33", ParentId = ProfitLoss, Href = "/custom", IconName = IconName.CalendarHeart, Text = "Custom Dates"},
            new NavItem { Id = Trends, Href = "/trends", IconName = IconName.GraphUpArrow, Text = "Trends"},
        
            new NavItem { Id = RulesAndCategories, Href = "/categories", IconName = IconName.WrenchAdjustableCircle, Text = "Config"},
            new NavItem { Id = "4", ParentId = RulesAndCategories, Href = "/categories", IconName = IconName.Tags, Text = "Categories"},
            new NavItem { Id = "5", ParentId = RulesAndCategories, Href = "/rules", IconName = IconName.Forward, Text = "Rules"},
            new NavItem { Id = Experimental, Href="/eggs", IconName = IconName.Radioactive, Text = "Experimental"},


        };
        return navItems;
    }
}