@page "/import"
@using BlazorBudget.Web.Data
@using Microsoft.Extensions.Logging
@inject TransactionService TransactionService
@inject ILogger<Import> Logger

<PageTitle>Import</PageTitle>

<h1>Import</h1>
<Tabs EnableFadeEffect="true" NavStyle="NavStyle.Pills">
    <Tab Title="Choose File" IsActive="true">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>File</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Configure">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Configure Input</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Import">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Import</b> tab.</p>
        </Content>
    </Tab>
</Tabs>

@code {

   
}
