@page "/month"
@using Microsoft.Extensions.Logging
@inject ILogger<Monthview> Logger

<PageTitle>@title</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <Button Color=ButtonColor.Primary @onclick="PreviousMonth">
                👈 Previous month
            </Button>
        </div>
        <div class="col">
            <h1>@title</h1>
        </div>
        <div class="col">
            <Button Color=ButtonColor.Primary @onclick="NextMonth" >
                Next month 👉
            </Button>
        </div>
    </div>
    <ProfitLossContainer FirstDate=firstDate LastDate=lastDate />
</div>

@code {
    private DateOnly firstDate;
    private DateOnly lastDate;
    private string title = "Monthly View";

    protected override void OnInitialized()
    {
        var now = DateTime.Now;
        AdjustToPeriod(new DateOnly(now.Year, now.Month, 1));
    }

    private void NextMonth() => AdjustToPeriod(firstDate.AddMonths(1));
    private void PreviousMonth() => AdjustToPeriod(firstDate.AddMonths(-1));

    private void AdjustToPeriod(DateOnly newFirstDate)
    {
        Logger.LogInformation("Adjusting to display month of {newFirstDate}", newFirstDate);

        firstDate = newFirstDate;
        lastDate = firstDate.AddMonths(1).AddDays(-1);
        title = $"💰 {firstDate:MMM yyyy}";
    }
}
